In [1]:
#Imnporting libraries
import pandas as pd
import os

#Listing the existing files in the dir
for root, dirs, files in os.walk("."):  
    for filename in files:
        print(filename)

1st_assignment.ipynb
COMMIT_EDITMSG
config
description
FETCH_HEAD
HEAD
index
applypatch-msg.sample
commit-msg.sample
fsmonitor-watchman.sample
post-update.sample
pre-applypatch.sample
pre-commit.sample
pre-push.sample
pre-rebase.sample
pre-receive.sample
prepare-commit-msg.sample
update.sample
exclude
HEAD
master
master
5889fd52bdb928eb7b8ef26232706c784a7fb1
b603904c021c6626dab814b117fa373b6d11b0
a0773950660740e2fb0a2b998f594d0e94d0a1
825dc642cb6eb9a060e54bf8d69288fbee4904
a0a9f48ddef769ca87ed1c4ae7126542afec5a
57cd63427f07eb262d338d723cb5cbda48bb12
6fd593fadcf5dbdf92232796a2ce03314ed200
541d703c3fb453c5699f9d00cd9fd9dbcacc3e
c8c3187bc1703db31697e5fa73397ab7312349
6dd593376250207d2b405ae43b244c89bcbb98
5b464927ac843c3be3f73fbea04510757888a9
master
master
1st_assignment-checkpoint.ipynb
HW1-data.csv

In [2]:
#Uploading the dataset
df = pd.read_csv('./files/HW1-data.csv')
#Getting the sense of the df
df.columns
df.head()
#Checking the # of missing values across the df
df.isna().sum()

User                                                        0
Gender (1 =F, 0=M)                                          0
260: Star Wars: Episode IV - A New Hope (1977)              5
1210: Star Wars: Episode VI - Return of the Jedi (1983)     6
356: Forrest Gump (1994)                                   10
318: Shawshank Redemption, The (1994)                      10
593: Silence of the Lambs, The (1991)                       4
3578: Gladiator (2000)                                      8
1: Toy Story (1995)                                         3
2028: Saving Private Ryan (1998)                            9
296: Pulp Fiction (1994)                                    9
1259: Stand by Me (1986)                                    9
2396: Shakespeare in Love (1998)                            9
2916: Total Recall (1990)                                   8
780: Independence Day (ID4) (1996)                          7
541: Blade Runner (1982)                                   11
1265: Groundhog Day (1993)                                  8
2571: Matrix, The (1999)                                    8
527: Schindler's List (1993)                                8
2762: Sixth Sense, The (1999)                               8
1198: Raiders of the Lost Ark (1981)                        9
34: Babe (1995)                                            10
dtype: int64

In [3]:
df_selected = df.drop('Gender (1 =F, 0=M)', axis=1).drop('User', axis=1)
df_selected.mean(axis=0).sort_values(ascending=False).head(3)

318: Shawshank Redemption, The (1994)             3.600000
260: Star Wars: Episode IV - A New Hope (1977)    3.266667
541: Blade Runner (1982)                          3.222222
dtype: float64

In [ ]:
Task: Mean Rating: Calculate the mean rating for each movie, order with the highest rating listed first, and submit the top three (along with the mean scores for the top two).
Solution: Top three movies by average ranking are: Shawshank Redemption, The (1994) with the mean of 3.6; Star Wars: Episode IV - A New Hope (1977) with the mean of 3.3 and Blade Runner (1982) with the mean of 3.2.

In [39]:
df_selected.count(axis=0).sort_values(ascending=False).head(3)

1: Toy Story (1995)                               17
593: Silence of the Lambs, The (1991)             16
260: Star Wars: Episode IV - A New Hope (1977)    15
dtype: int64

In [ ]:
Task: Rating Count (popularity): Count the number of ratings for each movie, order with the most number of ratings first, and submit the top three (along with the counts for the top two). 
Solution: Toy Story (1995), Silence of the Lambs, The (1991) and Star Wars: Episode IV - A New Hope (1977) were the most popular if the number of times a movie was reviewed is considered to be an indicator of a movie popularity.

In [40]:
#Creating the agg tbl to make sure that the further calculation is correct
df_selected.apply(pd.value_counts)

,260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),1259: Stand by Me (1986),2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
1.0,2,3,2,2.0,2,3.0,1,2,1,4,2.0,5.0,2,NaN,2,3,2.0,4,3.0,1
2.0,3,2,3,1.0,4,3.0,8,2,3,1,3.0,4.0,4,3.0,3,3,4.0,1,1.0,4
3.0,2,4,2,NaN,3,NaN,2,3,3,2,3.0,2.0,3,2.0,2,1,2.0,3,4.0,1
4.0,5,2,2,3.0,5,4.0,5,2,3,3,NaN,1.0,3,3.0,1,3,NaN,1,NaN,2
5.0,3,3,1,4.0,2,2.0,1,2,1,1,3.0,NaN,1,1.0,4,2,4.0,3,3.0,2

In [12]:
df_four = df_selected.apply(lambda x: x[x>=4]).count(axis=0) / df_selected.apply(lambda x: x).count(axis=0); df_four.sort_values(ascending=False).head(3)

318: Shawshank Redemption, The (1994)             0.700000
260: Star Wars: Episode IV - A New Hope (1977)    0.533333
3578: Gladiator (2000)                            0.500000
dtype: float64

In [ ]:
Task: % of ratings 4+ (liking): Calculate the percentage of ratings for each movie that are 4 or higher. Order with the highest percentage first, and submit the top three (along with the percentage for the top two). Notice that the three different measures of "best" reflect different priorities and give different results; this should help you see why you need to be thoughtful about what metrics you use. 
Solution: Shawshank Redemption, The (1994) (70%), Star Wars: Episode IV - A New Hope (1977) (53%) and  Gladiator (2000) (50%) have the highest percentage of ratings that are 4 or higher.

In [ ]:
#maskdf = df_selected.fillna(0).ne('0')
#maskdf.Movie1[maskdf.Movie2].mean()

In [13]:
df_selected[df_selected.columns[1:]].apply(lambda x: x.corr(df_selected['1: Toy Story (1995)'])).sort_values(ascending=False)

1: Toy Story (1995)                                        1.000000
318: Shawshank Redemption, The (1994)                      0.888523
34: Babe (1995)                                            0.811107
296: Pulp Fiction (1994)                                   0.709842
2028: Saving Private Ryan (1998)                           0.596849
356: Forrest Gump (1994)                                   0.522913
541: Blade Runner (1982)                                   0.329634
3578: Gladiator (2000)                                     0.253396
2916: Total Recall (1990)                                  0.163796
2396: Shakespeare in Love (1998)                           0.101768
1265: Groundhog Day (1993)                                -0.062858
780: Independence Day (ID4) (1996)                        -0.069923
527: Schindler's List (1993)                              -0.220315
2762: Sixth Sense, The (1999)                             -0.245770
1198: Raiders of the Lost Ark (1981)                      -0.309067
1210: Star Wars: Episode VI - Return of the Jedi (1983)   -0.314504
593: Silence of the Lambs, The (1991)                     -0.568258
1259: Stand by Me (1986)                                  -0.610300
2571: Matrix, The (1999)                                  -0.721995
dtype: float64

In [ ]:
Task: Correlation with Toy Story: Calculate the correlation between the vectors of ratings for Toy Story and each other movie. You can use the built-in CORREL() function. 
Solution: Shawshank Redemption, The (1994) with 0.89, Babe (1995) with 0.81 and Pulp Fiction (1994) with 0.71 are highly correlated with Toy story.

In [14]:
df_selected_g = df.drop('User', axis=1)
df_m = df_selected_g[df_selected_g['Gender (1 =F, 0=M)']==0]
df_m_mean = df_m.mean(axis=0).sort_values(ascending=False); df_m
df_f = df_selected_g[df_selected_g['Gender (1 =F, 0=M)']!=0]
df_f_mean = df_f.mean(axis=0).sort_values(ascending=False); df_f
dif_g = df_f_mean - df_m_mean; dif_g.sort_values(ascending=False)

2396: Shakespeare in Love (1998)                           2.107143
34: Babe (1995)                                            1.428571
296: Pulp Fiction (1994)                                   1.375000
1: Toy Story (1995)                                        1.271429
Gender (1 =F, 0=M)                                         1.000000
356: Forrest Gump (1994)                                   0.750000
541: Blade Runner (1982)                                   0.500000
318: Shawshank Redemption, The (1994)                      0.400000
2762: Sixth Sense, The (1999)                              0.333333
260: Star Wars: Episode IV - A New Hope (1977)             0.303571
3578: Gladiator (2000)                                     0.166667
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.000000
780: Independence Day (ID4) (1996)                        -0.190476
2028: Saving Private Ryan (1998)                          -0.392857
2916: Total Recall (1990)                                 -0.485714
1259: Stand by Me (1986)                                  -0.571429
593: Silence of the Lambs, The (1991)                     -0.619048
1265: Groundhog Day (1993)                                -0.666667
2571: Matrix, The (1999)                                  -0.742857
527: Schindler's List (1993)                              -1.000000
1198: Raiders of the Lost Ark (1981)                      -1.666667
dtype: float64

In [ ]:
Task: Mean rating difference by gender: First, recompute the mean rating for each movie separately for males and for females. And calculate the overall mean rating (across all ratings) for males and females. Submit the two movies that have the greatest differences (one where men are most above women, and one where women are most above men) along with the differences in average. Also submit the difference in overall rating averages (female average - male average).
Solution: Raiders of the Lost Ark (1981) and Schindler's List (1993) were ranked higher by males than females on average, versus Shakespeare in Love (1998) and Babe (1995) that were on the opposite ranked highest by females.

In [38]:
df_selected_g.set_index('Gender (1 =F, 0=M)').stack().groupby(level='Gender (1 =F, 0=M)').mean()

Gender (1 =F, 0=M)
0    2.905512
1    2.947368
dtype: float64

In [ ]:
Task: Identify average rating per a gender
Solution: Femaile gave a rating of 2.947368, compared with 2.905512 for males.

In [93]:
df_m_four = df_m.apply(lambda x: x[x>=4]).count(axis=0).sort_values(ascending=False) / df_m.apply(lambda x: x).count(axis=0); df_m_four
df_f_four = df_f.apply(lambda x: x[x>=4]).count(axis=0).sort_values(ascending=False) / df_f.apply(lambda x: x).count(axis=0); df_f_four
dif_g = df_f_four - df_m_four; dif_g.sort_values(ascending=False)

2396: Shakespeare in Love (1998)                           0.750000
541: Blade Runner (1982)                                   0.750000
34: Babe (1995)                                            0.571429
356: Forrest Gump (1994)                                   0.500000
296: Pulp Fiction (1994)                                   0.380952
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.333333
2762: Sixth Sense, The (1999)                              0.333333
1: Toy Story (1995)                                        0.321429
318: Shawshank Redemption, The (1994)                      0.300000
780: Independence Day (ID4) (1996)                         0.166667
3578: Gladiator (2000)                                     0.100000
2028: Saving Private Ryan (1998)                           0.100000
Gender (1 =F, 0=M)                                         0.000000
1265: Groundhog Day (1993)                                -0.066667
1259: Stand by Me (1986)                                  -0.071429
260: Star Wars: Episode IV - A New Hope (1977)            -0.095238
593: Silence of the Lambs, The (1991)                     -0.142857
2916: Total Recall (1990)                                 -0.200000
2571: Matrix, The (1999)                                  -0.200000
527: Schindler's List (1993)                              -0.583333
1198: Raiders of the Lost Ark (1981)                      -0.600000
dtype: float64

In [ ]:
Task: Next, compute the % of ratings 4+ separately for males and females. You'll be asked to submit two movies as above (largest difference in each direction). And again you'll indicate whether men or women are more likely to rate movies 4 stars or above.
Solution: More men rated Raiders of the Lost Ark (1981) as four and above. Women rated Shakespeare in Love (1998) as four and above.