In [110]:
#Imnporting libraries
import pandas as pd
import numpy as np
import os

#Listing the existing files in the dir
for root, dirs, files in os.walk("."):  
    for filename in files:
        print(filename)

1st_assignment_intro.ipynb
2nd_assignment_intro.ipynb
README.md
COMMIT_EDITMSG
config
description
FETCH_HEAD
HEAD
index
ORIG_HEAD
applypatch-msg.sample
commit-msg.sample
fsmonitor-watchman.sample
post-update.sample
pre-applypatch.sample
pre-commit.sample
pre-push.sample
pre-rebase.sample
pre-receive.sample
prepare-commit-msg.sample
update.sample
exclude
HEAD
master
master
5889fd52bdb928eb7b8ef26232706c784a7fb1
8a81d4f821e4a1d51a8c68599d74959a23bb7d
96b16af7d370ec7985b75b69d3af36a913954d
2041e1411e121aea1a74646ec651e7c9c954db
4eb72f8826545861a52a4848f147bf97669990
b603904c021c6626dab814b117fa373b6d11b0
498597af4392c58b0f8601759186248a25212f
a0773950660740e2fb0a2b998f594d0e94d0a1
825dc642cb6eb9a060e54bf8d69288fbee4904
a0a9f48ddef769ca87ed1c4ae7126542afec5a
af158bf04374888dd04f5eedb15ff39a657287
e00af6c6be096bf619741ab7ab4b79c70ff10f
d0ee1d40c636faa28af4c342a7f0ecb8c72306
1b16c06083cb164ea54b1325966d0c0fa4b9f4
57cd63427f07eb262d338d723cb5cbda48bb12
bc61f884fc0470eee67cf94513b13edaa9a968
6fd593fadcf5dbdf92232796a2ce03314ed200
541d703c3fb453c5699f9d00cd9fd9dbcacc3e
c8c3187bc1703db31697e5fa73397ab7312349
837e83ec9546cc0d1f20df392256f1de29f8e5
6dd593376250207d2b405ae43b244c89bcbb98
bbf9f1214b718401fc8fcadf236bf9199af48d
134dbd2f4e92606f13509c05dcaee089188e65
8e116f52d37385a391da57fb86cd093cc3deff
c34867c3c859422cb3f3c0c829b0bc2fd898ff
d2ac24573dbc005eaa296a12ede2462ab08fca
3d5029ccd568fc1aa196cad5b5a12370251c1d
5b464927ac843c3be3f73fbea04510757888a9
944760fb489210564032a020e3304ea258b740
f0df150f4b44951f6b3aa34a8b1d949b16334c
d88075474b63547554e71116ecb7fbad8a15ac
a05d1e2963e7d44ef8b5de49b7f41e11f2c307
26bdc962693f85d06e5bfbce23e1828112ca1a
master
master
1st_assignment-checkpoint.ipynb
1st_assignment_intro-checkpoint.ipynb
2nd_assignment_intro-checkpoint.ipynb
Assignment 2.csv
Assignment 2.xls
HW1-data.csv

In [5]:
df = pd.read_csv('./files/Assignment 2.csv')
df.columns
df.head()

,Unnamed: 0,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,Unnamed: 11,num-attr,Unnamed: 13,User 1,User 2,Unnamed: 16,Pred1,Pred2
0,doc1,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,NaN,5.0,NaN,1.0,-1.0,NaN,NaN,NaN
1,doc2,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,4.0,NaN,-1.0,1.0,NaN,NaN,NaN
2,doc3,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
3,doc4,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,NaN,4.0,NaN,NaN,1.0,NaN,NaN,NaN
4,doc5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Doing some cleansing by removing some extra columns and rows
df_set = df.drop(['Unnamed: 0', 'Unnamed: 11', 'num-attr', 'Unnamed: 13', 'Unnamed: 16', 'Pred1', 'Pred2'], axis=1).drop(df.index[20:]); df_set

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,User 1,User 2
0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,-1.0
1,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,1.0
2,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
3,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,NaN,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
5,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN
7,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN
8,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN
9,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN
10,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN
11,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,-1.0
12,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
13,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN
14,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,NaN,NaN
15,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,NaN
16,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,1.0
17,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN
18,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-1.0,NaN
19,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN

In [105]:
#Creating the user profile for User 1
user1_profile = df_set.iloc[:,0:10].multiply(df_set["User 1"], axis=0).sum(); user1_profile
user2_profile = df_set.iloc[:,0:10].multiply(df_set["User 2"], axis=0).sum(); user2_profile
#Estimating how likely a user will like the article
pref_user1 = df_set.drop(['User 1', 'User 2'], axis=1) * user1_profile
pref_user1.sum(axis=1).sort_values(ascending=False)
pref_user2 = df_set.drop(['User 1', 'User 2'], axis=1) * user2_profile
pref_user2.sum(axis=1).sort_values(ascending=False)

15    6.0
0     4.0
11    4.0
8     3.0
5     3.0
2     2.0
17    1.0
14    0.0
10    0.0
4    -1.0
6    -1.0
19   -1.0
7    -2.0
12   -2.0
13   -2.0
3    -3.0
9    -3.0
18   -4.0
16   -4.0
1    -4.0
dtype: float64

Task: First, you will build a very simple profile of user preferences for attributes. In this profile, you’ll count the total the number of positive and negative evaluations associated with each attribute, and create a profile with the total score for each attribute for each user. For example, user 1’s score for “Family” will get a +1 from doc1 (positive evaluation) and a -1 from doc 19 (negative evaluation) for a total profile value of 0 (neutral). In contrast, user 2’s score for Europe will be +3 (+1 each for doc2, doc4, and doc17). Now compute the predicted score for each user for each document (a simple dot-product). Type in the answers to the following questions (answers may include already-rated articles) as part of the Quiz:
Which document does the simple profile predict user 1 will like best?
What score does that prediction get?
How many documents does the model predict user 2 will dislike (prediction score that is negative)?

Solution: 1. User 1 will like the article number 16 having the score of 6.
2. User two will dislike four articles.

In [156]:
#Noramlizing the values
df_norm = df_set.iloc[:, 0:10].apply(lambda x: x / x.sum(), axis=1).apply(np.sqrt); df_norm
#Creating the user profile for User 1
user1_profile_norm = df_norm.multiply(df_set["User 1"], axis=0).sum(); user1_profile_norm
user2_profile_norm = df_set.iloc[:, 0:10].apply(lambda x: x / x.sum(), axis=1).multiply(df_set["User 2"], axis=0).sum(); user2_profile
#Estimating how likely a user will like the article
pref_user1_norm = df_norm * user1_profile_norm
pref_user1_norm.sum(axis=1).sort_values(ascending=False)
pref_user2_norm =df_norm * user2_profile_norm
pref_user2_norm.sum(axis=1).sort_values(ascending=False)

15    1.924646
5     1.370923
11    1.333114
8     1.132724
0     1.009019
2     0.711105
17    0.554695
14    0.142229
10    0.044658
19   -0.081378
4    -0.213541
13   -0.331378
6    -0.353553
7    -0.370053
12   -0.396447
3    -0.620053
9    -0.805073
18   -0.847214
16   -0.870053
1    -0.870053
dtype: float64

You may have noticed that in our computation an article that had many attributes checked could have more influence on the overall profile than one that had only a few. doc 1 and doc 19 each have five attributes, while doc6, doc7, and doc18 only have 2 attributes each.
We want to explore whether our simple model may be counting these attribute-heavy documents too much. For example, we might conclude that liking doc6 says more about liking baseball (since it is one of only two attributes for the article along with Europe) than liking doc1 says (since doc1 is also about politics, Asia, soccer, and family).
Type in the answers to the following questions as part of the Quiz:
Which document is now in second with this new model?
What prediction score does it have?

Solution: User 1 will like the article number 16 having the score of 1.924646

In [157]:
#Calculating the number of times every term occurs in all docs.
inverse_freq = 1 / df_set.iloc[:,0:10].sum(axis=0); inverse_freq
#Estimating how likely a user will like the article
pref_user1_inverse = df_norm * user1_profile_norm * inverse_freq
pref_user1_inverse.sum(axis=1).sort_values(ascending=False)
pref_user2_inverse =df_norm * user2_profile_norm * inverse_freq
pref_user2_inverse.sum(axis=1).sort_values(ascending=False)

16    0.165758
1     0.165758
3     0.118139
12    0.107424
13    0.103258
6     0.060104
19    0.055639
17    0.048212
14    0.046194
7     0.035639
4     0.025019
18    0.023745
9     0.021994
10    0.012509
2    -0.031200
5    -0.046069
8    -0.062854
0    -0.107580
15   -0.128300
11   -0.135173
dtype: float64

Task: We’re going to include an IDF (inverse document frequency) term into our equation. Start with your spreadsheet from part 2. Add a row that shows 1/DF where DF is the number of documents in which each content attribute occurs. For example, baseball occurs in 4 documents, so baseball’s entry will be 0.25. Politics occurs in 10 documents, so it will get an IDF score of 0.1 (1 / 10).
Next, update your prediction formula to do a three-way dot product: document vector * profile * IDF (fortunately, SUMPRODUCT can handle a third array). If you did this right, you’ll see a prediction of about 0.2476 for user1/doc1.
Ok, now let’s look at the results.
Type in the answers to the following questions into the Quiz:
Compare doc1 and doc9 for user1. What’s user1’s prediction for doc9 in the new IDF weighted model? See how there’s a dramatic difference from the prior model?
Now let’s look at user 2. Look at doc6. It was moderately positive before and now is slightly negative. Why did that change?

Solution: 1. The new prediction is 0.179067 compared with 1.132724.
2. The document 6 got the prediction of -0.046069.