In [135]:
#Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

#Listing the existing files in the dir
for root, dirs, files in os.walk("."):  
    for filename in files:
        print(filename)

1st_assgnmt_collab.ipynb
1st_assignment_intro.ipynb
2nd_assignment_collab.ipynb
2nd_assignment_intro.ipynb
3rd_assignment_evaluation_metrics.ipynb
README.md
COMMIT_EDITMSG
config
description
FETCH_HEAD
HEAD
index
ORIG_HEAD
applypatch-msg.sample
commit-msg.sample
fsmonitor-watchman.sample
post-update.sample
pre-applypatch.sample
pre-commit.sample
pre-push.sample
pre-rebase.sample
pre-receive.sample
prepare-commit-msg.sample
update.sample
exclude
HEAD
master
master
a6f461b1cda82bc2bc64e2f8e752c594cb4b79
5889fd52bdb928eb7b8ef26232706c784a7fb1
8a81d4f821e4a1d51a8c68599d74959a23bb7d
ff03ce761e5a44ccc2b2a825bf574c1bee0631
44966c920b4d862ad58a805a0ece2382922184
05b0aaa2d7ebb03a3e0fb3d246cda98a5b004a
96b16af7d370ec7985b75b69d3af36a913954d
2974eb78edd82b431c3690f7464a503c694356
2041e1411e121aea1a74646ec651e7c9c954db
807046e3874e227078d513b2e90156c2ab1414
fdc207848247f45b640d1b9e61f889fd73a974
9dd7992c843ab1040b900da7e3335ed0ff5593
4eb72f8826545861a52a4848f147bf97669990
2edfd2574cdc6b5ee4d4d59f8f97f67da4b8a1
668c30a6f4c99ca88cfa10f9b07825f0c3bcc2
b603904c021c6626dab814b117fa373b6d11b0
b49eb28cfab2a46cb953f50d0ded4a99363ca1
498597af4392c58b0f8601759186248a25212f
a0773950660740e2fb0a2b998f594d0e94d0a1
825dc642cb6eb9a060e54bf8d69288fbee4904
a0a9f48ddef769ca87ed1c4ae7126542afec5a
af158bf04374888dd04f5eedb15ff39a657287
e00af6c6be096bf619741ab7ab4b79c70ff10f
d0ee1d40c636faa28af4c342a7f0ecb8c72306
a9973f75deddf76b9100925004e888cb9de83b
e9e87e09cef289f37166a7f2ee352581e858fd
c8e9049d75402fa10c9b590d9acdd997d63002
ad28c71172e4602ccbae1af973ee1195cf2d1e
1b16c06083cb164ea54b1325966d0c0fa4b9f4
57cd63427f07eb262d338d723cb5cbda48bb12
0b3a43afdcdb3a000d1ab5cf859c0e1c08d1ed
bc61f884fc0470eee67cf94513b13edaa9a968
484d3244ff7a26b3e3b7e9571b7a1f3b719909
b1b54df24f94fbfa7c4271231ab078aa1b3f31
d1c3cba026030a37d70cab4a25db341c55b34b
6fd593fadcf5dbdf92232796a2ce03314ed200
541d703c3fb453c5699f9d00cd9fd9dbcacc3e
58dc7cc943a8f1b9c9905f21af83e7bc8c2555
c8c3187bc1703db31697e5fa73397ab7312349
837e83ec9546cc0d1f20df392256f1de29f8e5
bf73727db098465bde3e83fcbe66b932f78882
6dd593376250207d2b405ae43b244c89bcbb98
fd04c85783ca80e1780aa299bd1d136a0a1d3e
bbf9f1214b718401fc8fcadf236bf9199af48d
134dbd2f4e92606f13509c05dcaee089188e65
8e116f52d37385a391da57fb86cd093cc3deff
0ec40590f7b5349ab2c6142772ce2d0260b36a
7b827030fbc2b69181509529c3ad3eb90d8b0a
a434871a8c96eadb12ae391a31977aabed1b7f
b1517b48eacb401437bf1c221ac1ad97d2372e
c34867c3c859422cb3f3c0c829b0bc2fd898ff
d2ac24573dbc005eaa296a12ede2462ab08fca
229188d05d1c1e2b2a5903c085097533eb3037
3d5029ccd568fc1aa196cad5b5a12370251c1d
ab0fdfd962515bfbef32e602084d11fa4c2c70
b1e57ead6a932a5f6648cf387dc0d885733b04
44a033f501d79157b5b0466b72f89e4a5b623c
cef8b75621f17f11fd61b75ee2008073f1b074
aad26a88f94b67022c13241f3a699941e9b71d
1768a1190fbc7bfb5175f2edf0d289023c490f
d48ae14419e4fcbee0c62d9f2065d4470ed329
5b464927ac843c3be3f73fbea04510757888a9
641f68a84bfe0e2f0f3f6d3fef2fd0b3e802f1
a4676f9fc95a296cb38e85d8b8e439be3572b4
eb1f6d20a840fef5af4bee62dad9624277acb9
a3be4d728619049616662fba98d1a48454cab1
008ee33c628a944110e35cf94ea03e14a30a9d
944760fb489210564032a020e3304ea258b740
8b80417960310e33d532f892dc9d6d355ec7ab
54d403343d0e17560df850bf2c503a5e7c0b5f
f0df150f4b44951f6b3aa34a8b1d949b16334c
d88075474b63547554e71116ecb7fbad8a15ac
676a912222a71408971a6a9f2e0b4ee40f5ce0
e51974c2cc80fe360cdfabb06b4ae5f5b76868
a05d1e2963e7d44ef8b5de49b7f41e11f2c307
26bdc962693f85d06e5bfbce23e1828112ca1a
master
master
1st_assgnmt_collab-checkpoint.ipynb
1st_assignment-checkpoint.ipynb
1st_assignment_intro-checkpoint.ipynb
2nd_assignment_collab-checkpoint.ipynb
2nd_assignment_intro-checkpoint.ipynb
3rd_assignment_evaluation_metrics-checkpoint.ipynb
Assignment 2.csv
Assignment 2.xls
Assignment 5.xls
HW1-data.csv
metrics_ev.csv
movie_row.csv
ratings_2nd.csv
users_row.csv
UUCF Assignment Spreadsheet.xls
_ab0ff5bf5d06c09401a1c8c90edd6e41_Metric-SpreadSheet-Assignment.xlsx
~$_ab0ff5bf5d06c09401a1c8c90edd6e41_Metric-SpreadSheet-Assignment.xlsx

In [106]:
df = pd.read_csv('./files/metrics_ev.csv', skiprows=1).set_index('Unnamed: 0')
#Subsetting predicted and actual ratings
actual = df.iloc[:10,:10].astype(float)
predicted = df.iloc[14:24,:10].astype(float)

In [107]:
#Calculating mean absolute error per user
mae_user = actual.subtract(predicted, axis=1).abs().sum(axis=1).divide(actual.count(axis=1)).sort_values(ascending=False)
mae_user.head(3)
mae_user.tail(3)

Unnamed: 0
442     0.677778
2492    0.588889
2824    0.400000
dtype: float64

Task: Compute the mean absolute error for each user. For example, user 5261 has a mean absolute error of 0.82 (mostly because of a really bad prediction on the Pirates of the Carribean movie). (a) which users have the highest and lowest MAE, and what are those MAE values?

Solution: Users 2267 (0.900000), 3556 (0.842857) and 5261 (0.820000) have the highest MAE while users 442 (0.677778), 2492 (0.588889) and 2824 (0.400000) have the lowest MAE.

In [88]:
#Calculating mean absolute error per movie
mae_movie = actual.subtract(predicted, axis=0).abs().sum(axis=0).divide(actual.count(axis=0)).sort_values(ascending=False)
mae_movie.head(3)
mae_movie.tail(3)

63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                         0.460000
11: Star Wars: Episode IV - A New Hope (1977)                                         0.414286
85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.380000
dtype: float64

Task: Also compute the mean absolute error associated with the predictions for each movie. For example, Forrest Gump has an MAE of 0.5. (a) which movies have the highest and lowest MAE, and what are those MAE values?

Solution: Movies 12 (1.166667), 22 (1.088889), and 14 (1.020000) have the highest MAE while movies 63 (0.460000), 11 (0.414286) and 85 (0.380000) have the lowest.

In [154]:
#Calculating the overal MAE
nom = actual.subtract(predicted, axis=0).abs().sum().sum()
denom = actual.count().sum()
overall = nom / denom
#Calculating the overal MAE by user
overall_user = mae_user.mean()
#Calculating the overal MAE by movie
overall_movie = mae_movie.mean()

0.7316785714285714

Task: Compute the overall MAE three ways (three decimal places is enough):
(a) the normal MAE, which averages over all predictions
(b) the by-user MAE, which averages the MAEs of each user
(c) the by-movie MAE, which averages the MAEs of each movie

Solution: (a) The overall MAE is 0.7246376811594202.
(b) The overall MAE by user is 0.731107142857143.
(c) The overall MAE by movie is 0.7316785714285714.

In [128]:
#Calculating mean squared errors and root mean square error for each user
mse = actual.subtract(predicted, axis=1).apply(lambda x: x ** 2).sum(axis=1).divide(actual.count(axis=1)).sort_values(ascending=False)
rmse = np.sqrt(mse)
merged = pd.concat([pd.DataFrame(mse), pd.DataFrame(rmse)], axis=1)
merged.columns = ['mse','rmse']
merged

                 mse      rmse
Unnamed: 0
918         1.470000  1.212436
5261        1.170000  1.081665
3556        1.075714  1.037166
2267        0.995000  0.997497
860         0.858571  0.926591
5136        0.791111  0.889444
442         0.641111  0.800694
4942        0.613750  0.783422
2492        0.412222  0.642045
2824        0.224000  0.473286

Task: Next, create a matrix with the squared errors (instead of absolute errors), and compute the MSE and RMSE (root-mean-squared-error) for each user. Excel and other spreadsheets have a built-in function SQRT() to compute square roots. Be sure that you are computing the MSE first, then taking the square root (if you take the square root of each error before averaging it, you end up with MAE again). For example, user 5136 has an MSE of 0.7911 and an RMSE of .8894. (a) which users have the highest and lowest RMSE, and what are those RMSE values?

Solution: User 918 has the highest RMSE (1.212436) while user 2824 has the lowest (0.473286).

In [134]:
#Calculating overall MSE and RMSE.
nom = actual.subtract(predicted, axis=1).apply(lambda x: x ** 2).sum(axis=1).sum()
denom = actual.count(axis=1).sum()
mse_overall = nom / denom
rmse_overall = np.sqrt(mse_overall)
rmse_overall

0.8913432299755174

Task: Then, compute the overall MSE and RMSE across all predictions (just the normal way, no need to compute by-user or by-movie). Again, remember to average all the squared errors to compute MSE, then take the square root of the MSE to get RMSE.

Solution: Overall MSE is 0.7944927536231882 while overall RMSE is 0.8913432299755174.

In [155]:
#Estimating correlation between actual and predicted values
corr = actual.T.corrwith(predicted.T).sort_values(ascending=False); 
corr_overall = corr.mean()
corr

Unnamed: 0
5261    0.920746
442     0.774450
2267    0.633743
918     0.458946
2492    0.413615
4942    0.347857
2824    0.347677
5136    0.169813
3556   -0.095887
860    -0.148181
dtype: float64

Task: 6. Next, compute the correlation between ratings and predictions using the built-in CORREL() function. First, do this for each user (e.g., the correlation between ratings and predictions for user 5136 is 0.1698 -- only about 17%, and therefore not very good). Then, apply the same correlation to the full matrices.
(a) report the top and bottom correlations (the bottom ones may be negative) by user (both user ID and correlation value).
(b) report the overall correlation between ratings and predictions.

Solution: (a) Top correlation is 0.920746 for user 5261 versus bottom correlation of -0.148181 for 860.
(b) The overall correlation between ratings and predictions is 0.382277868831761.